{% block wixet_recaptcha_widget %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="{{ form.vars.site_key }}"></div>
{% endblock wixet_recaptcha_widget %}
